[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=bbashein
WorkingDirectory=/home/bbashein/sites/DOMAIN
EnvironmentFile=/home/bbashein/sites/DOMAIN/.env

ExecStart=/home/bbashein/sites/DOMAIN/virtualenv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
